In [2]:

import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [3]:
column_names = df.columns
df.shape

(4008, 11)

In [4]:
#columns appear to be categorical: ST Gender Education Policy type Vehicle Class
cols = []
for colname in df.columns:
    cols.append(colname.lower())
df.columns = cols
df.columns

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [5]:
# Replace white spaces in column names with underscores
df.columns = df.columns.str.replace(' ', '_')
# Replace 'st' with 'state' in column names
df= df.rename({'st': 'state'}, axis=1)
df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [6]:
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [8]:
# Clean Gender column
char_to_replace = {"femal": 'F', 'male': 'M', "female": "F", "Male": "M"}

# Iterate over all key-value pairs in dictionary 
for key, value in char_to_replace.items():
    # Replace key character with value character in string
    df['gender'] = df['gender'].str.replace(key, value)

# Clean State column
df['state'].value_counts()
state_mapping = {'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'}
for key, value in state_mapping.items():
    # Replace key character with value character in string
    df['state'] = df['state'].str.replace(key, value)

# Clean education column
df['education'].value_counts()
df["education"] = df['education'].str.replace("Bachelors", "Bachelor")

# Clean Customer Lifetime Value column
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.rstrip('%')

# Clean Vehicle Class column
vehicle_class_mapping = {'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'}

# Iterate over all key-value pairs in dictionary 
for key, value in vehicle_class_mapping.items():
    # Replace key character with value character in string
    df['vehicle_class'] = df['vehicle_class'].str.replace(key, value)
# df['vehicle_class'].value_counts()
# df

In [9]:
# Customer lifetime value should be numeric
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)
print(df.dtypes)

# Number of open complaints has an incorrect format.
df["number_of_open_complaints"].value_counts()
# Extract the number of open complaints from each entry and calculate the middle value

df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]

# Cast the column to the proper numeric type
df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(float)
print(df.dtypes)

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object
customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [10]:
df["number_of_open_complaints"].value_counts()

number_of_open_complaints
0.0    830
1.0    138
2.0     50
3.0     34
4.0     13
5.0      6
Name: count, dtype: int64

In [13]:
# Step 1: Identify columns with null values and calculate the number of null values
df.isna().sum()


round(df.isna().sum()/len(df),4)*100  # shows the percentage of null values in a column
nulls_df = pd.DataFrame(round(df.isna().sum()/len(df),4)*100)
nulls_df
nulls_df = nulls_df.reset_index()
nulls_df
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df


# Step 2: Implement the strategy to handle null values
# Fill null values with column mean for numerical variables

column_categorical=["state", "gender", "education", "policy_type", "vehicle_class"]
column_numerical=["income", "monthly_premium_auto", "total_claim_amount", "customer_lifetime_value", "number_of_open_complaints"]

numerical_columns = df.select_dtypes(include=['number']).columns
df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].mean())
categorical_columns = df.select_dtypes(include=['object']).columns
df[categorical_columns] = df[categorical_columns].fillna(df[categorical_columns].mode().iloc[0])

df.isna().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [19]:

# Step 1: Identify duplicate rows
duplicates = df.duplicated()
print(df.shape)
df= df.drop_duplicates(keep='first') #to not lose more data, I prefer to keep the first duplicate.
df = df.reset_index(drop=True)
print(df.shape)

(4008, 11)
(1072, 11)

In [22]:
# Step 6: Save the cleaned dataset to a new CSV file
df.to_csv('cleaned_dataset.csv', index=False)

# Print the cleaned DataFrame
print("Cleaned DataFrame:")
print(df)

Cleaned DataFrame:
     customer             state gender             education  \
0     RB50392        Washington      F                Master
1     QZ44356           Arizona      F              Bachelor
2     AI49188            Nevada      F              Bachelor
3     WW63253  Californiafornia      M              Bachelor
4     GA49547        Washington      M  High School or Below
...       ...               ...    ...                   ...
1067  VJ51327        California      F  High School or Below
1068  GS98873           Arizona      F              Bachelor
1069  CW49887  Californiafornia      F                Master
1070  MY31220  Californiafornia      F               College
1071  AA71604            Oregon      F              Bachelor

      customer_lifetime_value        income  monthly_premium_auto  \
0                7.936903e+05      0.000000            1000.00000
1                6.979536e+05      0.000000              94.00000
2                1.288743e+06  48767.000000             108.00000
3                7.645862e+05      0.000000             106.00000
4                5.363077e+05  36357.000000              68.00000
...                       ...           ...                   ...
1067             2.031500e+06  63209.000000             102.00000
1068             3.239125e+05  16061.000000              88.00000
1069             4.626801e+05  79487.000000             114.00000
1070             8.997040e+05  54230.000000             112.00000
1071             7.936903e+05  39295.701214             193.23436

      number_of_open_complaints     policy_type  vehicle_class  \
0                      0.000000   Personal Auto  Four-Door Car
1                      0.000000   Personal Auto  Four-Door Car
2                      0.000000   Personal Auto   Two-Door Car
3                      0.000000  Corporate Auto            SUV
4                      0.000000   Personal Auto  Four-Door Car
...                         ...             ...            ...
1067                   2.000000   Personal Auto            SUV
1068                   0.000000   Personal Auto  Four-Door Car
1069                   0.000000    Special Auto            SUV
1070                   0.000000   Personal Auto   Two-Door Car
1071                   0.394024   Personal Auto  Four-Door Car

      total_claim_amount
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
1067          207.320041
1068          633.600000
1069          547.200000
1070          537.600000
1071          404.986909

[1072 rows x 11 columns]